<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define la consola como appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Aquí va tu patrón con MDC incluido -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{trackingId}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel raíz de logs -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
